{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5 mx-auto">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-header bg-dark text-white text-center">
            <h4 class="mb-0">Get in Touch</h4>
          </div> 
          <div class="card-body">
            <p class="text-center mt-5">If you have any questions or need assistance, please feel free to reach out to us. We're here to help!</p>
            <ul class="list-unstyled text-center mt-4">
              <li><strong>Email:</strong> contact@lifestore.com</li>
              <li><strong>Phone:</strong> +1 (123) 456-7890</li>
            </ul>
          </div>
        </div>
      </div>
    </div>  
  </div>
{% endblock %}