<!-- Footer -->
<footer class="bg-dark text-center text-white mt-5">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <a class="btn footer-facebook  m-1" href="#!" role="button"><i class="fa fa-facebook-f text-primary"></i></a>
      <a class="btn footer-twitter m-1" href="#!" role="button"><i class="fa fa-twitter text-info"></i></a>
      <a class="btn footer-google m-1" href="#!" role="button"><i class="fa fa-google text-danger"></i></a>
      <a class="btn footer-instagram m-1" href="#!" role="button"><i class="fa fa-instagram footer-instagram"></i></a>
      <a class="btn footer-linkedin m-1" href="#!" role="button"><i class="fa fa-linkedin text-info"></i></a>
		</section>
		<!-- Section: Social media end -->

		<!-- Section: Form -->
		<section class="">
			<form action="">
				<div class="row d-flex justify-content-center">
					<div class="col-auto">
						<p class="pt-2">
							<strong>Sign up for our newsletter</strong>
						</p>
					</div>
					<div class="col-md-5 col-12">
						<!-- Email input -->
						<div class="form-outline form-white mb-4">
							<input type="email" id="form5Example21" class="form-control" placeholder="Email Address" />
						</div>
					</div>
					<div class="col-auto">
						<!-- Submit button -->
						<button type="submit" class="btn btn-outline-info text-white mb-4">  Subscribe </button>
					</div>
				</div>
			</form>
		</section>
		<!-- Section: Form end -->

		<!-- Section: Links -->
		<section class="">
			<div class="row">
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase">EXTRAS</h5>

					<ul class="list-unstyled mb-0">
						<li>
							<a href="#!" class="text-white">Brands</a>
						</li>
						<li>
							<a href="#!" class="text-white">Affiliate</a>
						</li>
						<li>
							<a href="#!" class="text-white">Specials</a>
						</li>
						<li>
							<a href="#!" class="text-white">Site Map</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase">INFORMATION</h5>

					<ul class="list-unstyled mb-0">
						<li>
							<a href="#!" class="text-white">Privacy Policy</a>
						</li>
						<li>
							<a href="#!" class="text-white">Terms & Condition</a>
						</li>
						<li>
							<a href="{% url 'about' %}" class="text-white">About Us</a>
						</li>
						<li>
							<a href="#!" class="text-white">Site Map</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase">MY ACOUNT</h5>

					<ul class="list-unstyled mb-0">
						<li>
							<a href="#!" class="text-white">Wish List</a>
						</li>
						<li>
							<a href="#!" class="text-white">Newsletter</a>
						</li>
						<li>
							<a href="#!" class="text-white">Order History</a>
						</li>
						<li>
							<a href="#!" class="text-white">Returns</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase" href="{% url 'contact' %}">CONTACT US</h5>

					<ul class="list-unstyled mb-0">
						<li>
							<a href="#!" class="text-white">42 Dream House, Dreammy</a>
						</li>
						<li>
							<a href="#!" class="text-white">Adarsh@gmail.com</a>
						</li>
						<li>
							<a href="#!" class="text-white">452-732-876</a>
						</li>
						<li>
							<a href="#!" class="text-white">Dream City, USA</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
	</div>
	<!-- Copyright -->
	<hr>
	<div class="text-center bg-dark p-3">
		© 2020 Copyright:
	  <a class="text-white" href="#">LifeStore</a>
	</div>
	<!-- Copyright -->
</footer>
<!-- Footer end -->